<style>
  .dashboard { border: 2px solid #23100f; width: 80%; margin: 10vh auto; height:
  40vh; display: flex; flex-direction: column; padding-bottom: 10px; } h3 {
  background: #23100f; color: white; margin: 0; padding: 5px; } .dashboard
  *:not(h3) { width: 95%; margin: auto; } .dashboard button { background: #666;
  color: white; padding: 5px; border-radius: 8px; margin-top: 5px; } button {
  background: #23100f; color: white; padding: 5px; border-radius: 8px;
  margin-left: 45%; margin-right: auto; }

</style>

<div class="dashboard">
  <h3>Create New Post</h3>

  <label for="#title">Title</label>
  <input id="title" type="text" />

  <label for="#content">Content</label>
  <textarea id="content"></textarea>

  <button id="postId">Create</button>
</div>

<button>+ New Post</button>

<script>
  postId.onclick = () => { 
    let title = document.getElementById('title').value;
    let content = document.getElementById('content').value;

    fetch('/api/post', { 
        method:'POST', 
        headers: { 'Content-Type': 'application/json' 
        }, 
        body: JSON.stringify({title,content}) }) 
    };
</script>